:root {
    --highlights: #4D5AE5;
    --description: color: #434455;
    --logo: color: #4d5ae5;
    --link: color: #2e2f42;
    --web: color: #2e2f42;

}


.a {
    text-decoration: none;
}

.link:focus
.link:active
.link:hover {
    color: var(--highlights);

}

.navigation {
    color: #2e2f42;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.contact {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.top-line {
    width: 1440px;
    height: 72px;
 flex-shrink: 0;
 background: linear-gradient(0deg, #E7E9FC, #E7E9FC),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
background: var(--WHITE, #fff);
}
.main-button {
    cursor: pointer;
    
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;

    letter-spacing: 0.04em;
    line-height: 1.5;
     
    background-color: #4d5ae5;
    color: #fff;

}
.main-button:hover {
    background-color: #404bbf; 

}
.main-button:active 
{
 background-color: #404bbf; 
}

.logo {
    font-family: "Raleway";
    color: var(--logo);
    display: inline-flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.web {
    color: var(--highlights);

    font-family: "Raleway";
    font-size: 18px;

    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}
.main-header-text {
    background: #FFFFFF;
font-size: 45px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;

    
}

body {
    font-family: "Roboto", "sans-serif";
    background-color: #FFFFFF ;
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hero-img {
    background-color: #2e2f42;
}

.job-title-background {
    background: var(--CLOUD, #f4f4fd);
}

.header-titles {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.header-lists {
    color: #2e2f42;
    font-size: 20px;
    
    font-weight: 500;   
    line-height: 1.2;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
}
ul p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-team-background {
    
    background-color: #f4f4fd;

}

.footer-background {

    background-color: #2e2f42;

}
.bright-text {
    color: #f4f4fd;
}